@page "/"
@inject HttpClient http
@inject NavigationManager NavigationManager
<PageTitle>Home Page</PageTitle>
<h1 class="bg-light border p-2 text-center container">Categories</h1>
@foreach (var item in categories )
{
        <div class="container mt-3">
            <div class="mt-4 p-5 bg-light text-primary  rounded">
                <h1 class="text-center">@item.Name</h1>
                <p>@item.Description</p>
                <a href="/counter/@item.Id">Display Products</a>
            </div>
        </div>
}

@code
{
    private List<Category> categories;

    protected override async Task OnInitializedAsync() => 
    categories = await http.GetFromJsonAsync<List<Category>>("api/Category/getall");

    }


