@page "/login"
@inject HttpClient http
@inject NavigationManager NavigationManager

    <div className="XTest" class="container">
      <Grid className="loginWrapper rtl">
      <Grid className="loginForm">
<form >
    <input  type="text"class="form-control" placeholder="User Name" required>
    <br>
    <input  type="password" class="form-control" placeholder="PassWord" required minlength="6">
    <br>
    <button class="btn btn-center btn btn-primary ">LogIn</button>
        <button class="btn btn-center btn btn-primary ">Create Account</button>
    </form>
      </Grid>
      </Grid>
    </div>


    